<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809546309936-c7kt26od8a3kj5u7nc4v3hps4j83o0rj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809546309936-c7kt26od8a3kj5u7nc4v3hps4j83o0rj</string>
	<key>API_KEY</key>
	<string>AIzaSyAW7tvWr2jAOhfxs32SQj0RR-0EGUc-3eE</string>
	<key>GCM_SENDER_ID</key>
	<string>809546309936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yashraj.DemoMusic</string>
	<key>PROJECT_ID</key>
	<string>demomusic-6c508</string>
	<key>STORAGE_BUCKET</key>
	<string>demomusic-6c508.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809546309936:ios:ac425787c9dd4b373be8f5</string>
</dict>
</plist>